<div id="about" class="relative flex flex-col">
  <div class="absolute right-0 top-16">
    <app-navigation
      scrollTo="about"
      arrowType=""
      description="About"
    ></app-navigation>
  </div>
  <app-dog-typing></app-dog-typing>
  <div
    class="flex items-center opacity-25 h-12 mx-auto pl-10 pr-10 max-w-2xl  justify-center bg-red-10 dark:bg-gray-800 dark:text-white rounded-lg shadow-xl"
  >
    <p class="">
      Hello, I'm a full stack developer based in India
    </p>
  </div>
  <div>
    <h2
      class=" max-w-xl mt-12 mx-auto flex items-center space-x-2 leading-7 text-green-600 sm:text-3xl sm:truncate"
    >
      Bhargav Mantha
    </h2>
    <p class="max-w-xl mx-auto flex items-center space-x-2">
      Software Developer ( Hacker / Developer / OpenSource enthusiast )
    </p>
  </div>
  <div>
    <h3
      class="underline max-w-xl mt-12 mx-auto flex items-center space-x-2 leading-7 sm:text-xl sm:truncate text-green-600"
    >
      About
    </h3>

    <p class="max-w-xl mx-auto flex items-center space-x-2">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I am a Full-stack developer based in Mumbai
      with passion for building both front-end and backend applications. I have
      a knack for all things related to applications starting from development
      to deployment and solving real-life problems with code. When not online I
      loves to trek and sketch
    </p>

    <p class="max-w-xl mx-auto flex items-center space-x-2">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The main area of my expertise is Back end.
      I have developed applications starting with regular Node.JS apps followed
      with using frameworks like Nest.JS, Express.JS and Angular as the
      front-end
    </p>
    <p class="max-w-xl mx-auto flex items-center space-x-2">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; My current stack is Nest.Js, Angular,
      MongoDB or MySql and AWS for Deployment
    </p>
  </div>
  <div class="absolute right-0 bottom-28">
    <app-navigation
      arrowType="down"
      scrollTo="skills"
      description="Skills & Experience"
    ></app-navigation>
  </div>
</div>
