<div>
  <h3
    class="underline max-w-xl mt-12 mx-auto flex items-center space-x-2 leading-7 sm:text-xl sm:truncate"
  >
    Work
  </h3>

  <p class="max-w-xl mx-auto flex items-center space-x-2">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bhargav is a Full-stack developer based in
    Mumbai passion for building both front-end and backend applications. He has
    a knack for all things related to applications starting from development to
    deployment and solving real-life problems with code. When not online he
    loves to trek and sketch
  </p>
</div>
