<app-header></app-header>
<app-dog-typing></app-dog-typing>
<div
  class=" flex items-center opacity-25 h-12 mx-auto max-w-lg justify-center bg-red-10 dark:bg-gray-800 dark:text-white rounded-lg shadow-xl"
>
  <p>
    Hello, I'm a full stack developer based in India
  </p>
</div>
<div>
  <h2
    class=" max-w-xl mt-12 mx-auto flex items-center space-x-2 leading-7  sm:text-3xl sm:truncate"
  >
    Bhargav Mantha
  </h2>
  <p class="max-w-xl mx-auto flex items-center space-x-2">
    Software Developer ( Hacker / Developer / OpenSource enthusiast )
  </p>
</div>
<app-work></app-work>
