/* You can add global styles to this file, and also import other style files */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: mplus;
  src: url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;700&display=swap");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "mplus", "arial", sans-serif;
}
html {
  scroll-behavior: smooth;
}
